HOST=psgr
USER=postgres
PASSWORD=your_secure_password
DB_NAME=your_database
PORT=5432

PG_URL=postgresql+asyncpg://${USER}:${PASSWORD}@${HOST}:${PORT}/${DB_NAME}

RABBITMQ_DEFAULT_USER=your_user
RABBITMQ_DEFAULT_PASS=your_pass

RABBITMQ_URL=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@rabbitmq:5672/